<html>

<head>
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css' />

    <link rel='stylesheet' href='//d33wubrfki0l68.cloudfront.net/css/7508242d09cc1245ef5d3fc898703190db444d1d/content/css/tosayoga.bootstrap.css'
    />
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>This is a section layout</h1>


            <section id="main">
                <div>
                    <h1 id="title">{{ .Title }}</h1>
                    <ul id="list">
                        {{ range .Data.Pages }} {{ .Render "summary"}} {{ end }}
                    </ul>
                </div>
            </section>

        </div>
    </div>
</body>

</html>